<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fridge"
        tools:targetApi="31">
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="google.com" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".AddActivity"/>
        <activity android:name=".CookActivity"/>
        <activity android:name=".CalendarActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".PostActivity"/>
        <activity android:name=".Post"/>
        <activity android:name=".PostAdapter"/>
        <activity android:name=".CustomAdapter"/>
        <activity android:name=".LRecipeActivity"/>
        <activity android:name=".RecipeList"/>
        <activity android:name=".RecipeListAdapater"/>
        <activity android:name=".SoupActivity"/>
        <activity android:name=".ChooseRecipe"/>

    </application>

</manifest>